<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Datasources
            <a class="btn btn-success pull-right" ng-click="addDatasourcePage()"> <i class="fa fa-plus append-icon"></i> Add </a></h3>
            </h1>
            
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="dataTable">
        		<table st-table="rowDatasources" st-safe-src="allDatasources"  
			class="table table-striped">
			<thead style="background-color: lightskyblue;">
				<tr>
					<th st-sort="name">Name</th>
					<th >Type</th>
					<th></th>
				</tr>
				
			</thead>
			<tbody>
				<tr ng-repeat="row in rowDatasources">
					<td><a href="" ng-click="editDatasources(row.name)">{{row.name}}</a></td>
					<td>{{row.subType}}</td>
					<td><span>
					<a href="" ng-click="deleteDatasource(row.name)" data-toggle="tooltip" tooltip-placement="bottom" tooltip="Delete" tooltip-append-to-body="true">
					<i class="fa fa-trash-o fa-2x"></i></a>
					</span></td>
				</tr>
			</tbody>
		 <tfoot>
			<tr>
				<td colspan="2" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-template="resources/scripts/directives/pagination.custom.html"></div>
				</td>
			</tr>
		</tfoot>
 

		</table>
       

    </div>
</div>
