<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" id="dashcharts">
       					<div ng-cloak
						ng-style="{ 'border': '1px ' + chartObject.chartHeaderColor + ' solid' ,'width':chartObject.chartWidth,'height':chartObject.chartHeight}"
						ng-if="chartObject.dashboardIndicator"
						resizable="{{ chartObject }}" data- ng-cloak
						ng-repeat="chartObject in chartObjects"
						id="{{ chartObject.chartName }}"
						class="col-md-12 col-sm-12 col-xs-12 chartDiv ">


						<div
							ng-style="{ 'background-color':chartObject.chartHeaderColor }"
							class="chartHeader">
							{{ chartObject.chartName }} <i
								class="fa fa-expand headericons expandChart"
								ng-click="maximizeChart(chartObject)"></i> <i
								ng-if="chartObject.maximizeIndicator  && chartObject.tableIndicator"
								class="fa fa-file-excel-o headericons"
								ng-click="exportToExcel(chartObject)"></i> <i
								ng-if="chartObject.maximizeIndicator && !chartObject.tableIndicator"
								class="fa fa-table headericons"
								ng-click="tableChart(chartObject)"></i>
						</div>
						<div ng-style="{ 'height': chartObject.chartHeight-30}"
							ng-if="!chartObject.tableIndicator && chartObject.chartParams.chartType == 'geo'"
							id="geo_div"></div>

						<nvd3
							ng-if="!chartObject.tableIndicator && chartObject.chartParams.chartType != 'geo'"
							options="chartObject.options" data="chartObject.data"></nvd3>

						<div ng-if="chartObject.tableIndicator">
							<!-- 	<table-pagination obj="chartObject"></table-pagination> -->
							<div id="exportable_{{ chartObject.chartName }}">
								<table class="table table-striped">
									<thead>
										<tr>
											<th ng-click="sort(key)" ng-cloak
												ng-repeat="(key,value) in chartObject.tableData[0]">{{
												key }}<span class="glyphicon sort-icon"
												ng-show="sortKey==key"
												ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
											</th>

										</tr>
									</thead>
									<tbody>
										<tr
											dir-paginate="row in chartObject.tableData|orderBy:sortKey:reverse|itemsPerPage:5">
											<td ng-cloak ng-repeat="(key,value) in row">{{ value }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<dir-pagination-controls style="margin-left: 40%;" max-size="5"
								direction-links="true" boundary-links="true">
							</dir-pagination-controls>

						</div>
					</div> 
      

    </div>
</div>
